# Node.js dependencies
node_modules/

# TypeScript cache
*.tsbuildinfo

#google account stuff
google-profile/

# Logs
logs/
*.log

# dotenv environment files
.env
.env.*

# Playwright browser cache
.playwright/

# Temporary files
*.tmp
*.swp
